<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="apps.matts.contextlearning">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/contextwithstripes"
        android:label="ConText"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="apps.matts.contextlearning.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="apps.matts.contextlearning.NavDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="apps.matts.contextlearning.BaseActivity"></activity>
        <activity
            android:name="Level"
            android:label=""
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="apps.matts.contextlearning.NavDrawerActivity" />
        </activity>
    </application>

</manifest>
